body {
    background-image: url("https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav a {
    color:beige;
}

h1 {
    text-align: center;
    color:beige;
}

table, th {
    margin: 5% 0 0 30%;
    color: aliceblue;
    border: 1px solid;
}

th {
    font-size: 1.5em;
    text-decoration: underline;
}